#home {
  background: linear-gradient(180deg, #230b58, #121212 350px);
  box-sizing: border-box;
  padding: 80px 32px 0px 32px;
}
#home #greeting .text {
  width: 100%;
  height: 46px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
#home #greeting .playlists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}