#fsSongButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
#fsSongButtons img {
  transition-property: width, height, filter, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#fsSongButtons img:hover {
  filter: brightness(1.5);
}
#fsSongButtons img:active {
  filter: brightness(1);
}
/* Left side buttons */
#fsSongButtons #fsSongLike {
  position: absolute;
  left: 40px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
}
/* Middle buttons */
#fsSongButtons #fsSongButtonsMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 360px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(1) {
  position: absolute;
  left: 0px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(2) {
  position: absolute;
  left: 76px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(4) {
  position: absolute;
  right: 76px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(5) {
  position: absolute;
  right: 0px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(1):hover, img:nth-child(2):hover {
  transform: translateX(-4px);
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(4):hover, img:nth-child(5):hover {
  transform: translateX(4px);
}
#fsSongButtons #fsSongButtonsMiddle img {
  width: 40px;
}
#fsSongButtons #fsSongButtonsMiddle img:hover {
  width: 48px;
}
/* Right side buttons */
#fsSongButtons #fsSongButtonsRight {
  background-color: green;
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px;
}
#fsSongButtons #fsSongButtonsRight #fsSongFullscreenImg {
  position: absolute;
  right: 0px;
  height: 48px;
}
#fsSongButtons #fsSongButtonsRight #fsSongFullscreenImg:hover {
  height: 64px;
  transform: translateX(8px);
}
#fsSongButtons #fsSongButtonsRight #fsSongVolumeButton {
  position: absolute;
  height: 48px;
  right: 164px;
}
#fsSongButtons #fsSongButtonsRight #fsSongVolumeButton:hover {
  height: 64px;
  transform: translateX(8px);
}
/* Song Volume Bar */
#fsSongVolume {
  background-color: purple;
  position: absolute;
  right: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
#fsSongVolumeInput {
  position: absolute;
  width: calc(100% + 16px);
  height: 16px;
  filter: opacity(0);
  z-index: 1;
  /* transform: translateY(40px); */
}
#fsSongVolumeOverlay {
  background-color: #454545;
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
}
#fsSongVolumeProgress {
  background-color: #cccccc;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  right: 70%;
  border-radius: 4px;
}
#fsSongVolumeInput:hover ~ #fsSongVolumeOverlay #fsSongVolumeProgress {
  background-color: #1eb955;
}
#fsSongVolume #fsSongVolumeThumb {
  position: absolute;
  background-color: #cccccc;
  width: 14px;
  height: 14px;
  right: 70%;
  border-radius: 14px;
  transform: translateX(50%);
  filter: opacity(0);
}
#fsSongVolumeInput:hover ~ #fsSongVolumeThumb {
  filter: opacity(1);
}