#fsSongButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
#fsSongButtons img {
  transition-property: width, height, filter, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#fsSongButtons img:hover {
  filter: brightness(1.5);
}
#fsSongButtons img:active {
  filter: brightness(1);
}
/* Left side buttons */
#fsSongButtons #fsSongLike {
  position: absolute;
  left: 40px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
}
/* Middle buttons */
#fsSongButtons #fsSongButtonsMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 360px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(1) {
  position: absolute;
  left: 0px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(2) {
  position: absolute;
  left: 76px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(4) {
  position: absolute;
  right: 76px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(5) {
  position: absolute;
  right: 0px;
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(1):hover, img:nth-child(2):hover {
  transform: translateX(-4px);
}
#fsSongButtons #fsSongButtonsMiddle img:nth-child(4):hover, img:nth-child(5):hover {
  transform: translateX(4px);
}
#fsSongButtons #fsSongButtonsMiddle img {
  width: 40px;
}
#fsSongButtons #fsSongButtonsMiddle img:hover {
  width: 48px;
}
/* Right side buttons */
#fsSongButtons #fsSongButtonsRight {
  position: absolute;
  right: 40px;
}
#fsSongButtons #fsSongButtonsRight #fsSongFullscreenImg {
  height: 48px;
}
#fsSongButtons #fsSongButtonsRight #fsSongFullscreenImg:hover {
  height: 64px;
  transform: translateX(8px);
}