.songButtonsRight {
  position: absolute;
  width: 12%;
  right: 16px;
}
.songButtonsRight img {
  position: absolute;
  width: 36px;
  height: 36px;
  border: none;
  filter: brightness(1) blur(0.3px);
  transform: translate(0px, -14px);
  transition-property: width, height, filter, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.songButtonsRight img:hover {
  width: 46px;
  height: 46px;
  filter: brightness(1.5);
  transform: translate(5px, -19px)
}
.songButtonsRight img:active {
  filter: brightness(1);
}
.songButtonsRight #songQueue {
  right: calc(50% + 78px);
}
.songButtonsRight #songVolume {
  right: calc(50% + 44px);
}
.songButtonsRight #songFullscreen {
  right: 4px;
}
/* Right side buttons */
#songButtonsRight {
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px;
}
#songButtonsRight #songFullscreenImg {
  position: absolute;
  right: 0px;
  height: 40px;
}
#songButtonsRight #songFullscreenImg:hover {
  height: 48px;
  transform: translateX(4px);
}
#songButtonsRight #songVolumeButton {
  position: absolute;
  height: 40px;
  right: 164px;
}
#songButtonsRight #songVolumeButton:hover {
  height: 48px;
  transform: translateX(4px);
}
/* Song Volume Bar */
#songVolume {
  position: absolute;
  right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
#songVolumeInput {
  position: absolute;
  width: calc(100% + 16px);
  height: 16px;
  filter: opacity(0);
  z-index: 1;
}
#songVolumeOverlay {
  background-color: #454545;
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
}
#songVolumeProgress {
  background-color: #cccccc;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  right: 50%;
  border-radius: 4px;
}
#songVolumeInput:hover ~ #songVolumeOverlay #songVolumeProgress {
  background-color: #1eb955;
}
#songVolume #songVolumeThumb {
  position: absolute;
  background-color: #cccccc;
  width: 12px;
  height: 12px;
  right: 70%;
  border-radius: 12px;
  transform: translateX(50%);
  filter: opacity(0);
}
#songVolumeInput:hover ~ #songVolumeThumb {
  filter: opacity(1);
}