#fsSongBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
}
/* Time Left */
#fsSongCurrentTime {
  width: 100px;
  text-align: left;
}
/* Time Right */
#fsSongDurationTime {
  float: left;
  width: 100px;
  text-align: right;
}
/* Song Range bar */
#fsSongRange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 240px);
  height: 100%;
}
#fsSongRangeInput {
  position: absolute;
  width: calc(100% + 16px);
  height: 16px;
  /* filter: opacity(0); */
  transform: translateY(200%);
  z-index: 1;
}
#fsSongRangeOverlay {
  background-color: #454545;
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
}
#fsSongRangeProgress {
  background-color: #cccccc;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  right: 70%;
  border-radius: 4px;
}
#fsSongRangeInput:hover ~ #fsSongRangeOverlay #fsSongRangeProgress {
  background-color: #1eb955;
}
#fsSongRange #fsSongRangeThumb {
  position: absolute;
  background-color: #cccccc;
  width: 14px;
  height: 14px;
  right: 70%;
  border-radius: 14px;
  transform: translateX(50%);
  filter: opacity(0);
}
#fsSongRangeInput:hover ~ #fsSongRangeThumb {
  filter: opacity(1);
}