#songBar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
  left: 50%;
  bottom: 1px;
  transform: translateX(-50%);
  font-size: 13px;
}
/* Time Left */
#songCurrentTime {
  width: 100px;
  text-align: right;
  color: #aaaaaa;
}
/* Time Right */
#songDurationTime {
  width: 100px;
  text-align: left;
  color: #aaaaaa;
}
/* Song Range bar */
#songRange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 240px);
  height: 100%;
}
#songRangeInput {
  position: absolute;
  width: calc(100% + 16px);
  height: 16px;
  filter: opacity(0);
  z-index: 1;
}
#songRangeOverlay {
  background-color: #454545;
  position: absolute;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
}
#songRangeProgress {
  background-color: #cccccc;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  right: 70%;
  border-radius: 4px;
}
#songRangeInput:hover ~ #songRangeOverlay #songRangeProgress {
  background-color: #1eb955;
}
#songRange #songRangeThumb {
  position: absolute;
  background-color: #cccccc;
  width: 14px;
  height: 14px;
  right: 70%;
  border-radius: 14px;
  transform: translateX(50%);
  filter: opacity(0);
}
#songRangeInput:hover ~ #songRangeThumb {
  filter: opacity(1);
}